{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
    {% load poll_extras %}
    {% parsing_output as li %}
    {% for i in li %}
        <p> {{ i }}</p>
    {% endfor %}
    {% filter replace_func %} Hi, anus, you make ass {% endfilter %}
{% endif %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">