
{% extends "base_generic.html" %}

{% block content %}
  <h1>Local Connection Home</h1>

    {% load poll_extras %}
    {% parsing_output as li %}
    {% for i in li %}
        <p> {{ i }}</p>
    {% endfor %}
    {% filter replace_func %} Hi, absterging, you make abstinence {% endfilter %}

  <h2>Dynamic content</h2>

  <p>The Connection has the following record names, countries, cities:</p>
    <ul>
        <li><strong>Names:</strong> {{ num_names }}</li>
        <li><strong>Country:</strong> {{ num_country }}</li>
        <li><strong>City:</strong> {{ num_city }}</li>
    </ul>
  You have visited this page {{ num_visits }} time{% if num_visits > 1 %}s{% endif %}.
{% endblock %}